<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
                    <key>NSPhotoLibraryUsageDescription</key>
                    <string>사진첩에 접근하여 이미지를 선택하기 위해 권한이 필요합니다.</string>
                    <key>NSCameraUsageDescription</key>
                    <string>카메라로 사진을 찍기 위해 권한이 필요합니다.</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
